<div class="container">
  <h1> <%= @article.title %> </h1>
  <h4><%= @article.content %></h4>
  <%= link_to edit_article_path do%>
  <i class="fa fa-pencil"></i>
  <% end %>
  <%= link_to article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash-o"></i>
    <% end %>
</div>
