@import "bootstrap/scss/bootstrap";

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 750px;
}

.title-article {
  font-size: 30px;
  font-family: "Roboto Slab";
  font-weight: 400;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
